{% extends 'components/layout.html' %} {# This is the route to my files #}

{% block content %}
<div class="row justify-content-center">
<h1 class="headings">MOST BELOVED ACTORS AND ACTRESSES</h1>

<div class="gallary">
    <ul>
        <li>
          <img src="https://i.ibb.co/MkC2PLm/Christopher-Walken-750x450.png" alt="Christopher-Walken-750x450" border="0">
        </li>
        <li>
          <img src="https://i.ibb.co/MMgBnvd/horror-movie-actors-10-640x359.webp" alt="horror-movie-actors-10-640x359" border="0">
        </li>
        <li>
          <img src="https://i.ibb.co/s1pYqqx/horror-hunks-skeet-ulrich-edited-1476905276.jpg" alt="horror-hunks-skeet-ulrich-edited-1476905276" border="0">
        </li>
        <li>
          <img src="https://i.ibb.co/LdP2jVd/Tony-Todd-750x450.png" alt="Tony-Todd-750x450" border="0">
        </li>
        <li>
          <img src="https://i.ibb.co/GsfKRwJ/sofia-boutella-the-mummy-1537640054.jpg" alt="sofia-boutella-the-mummy-1537640054" border="0">
        </li>
        <li>
          <img src="https://i.ibb.co/3NLCK8H/Horror-Movie-Stars-In-Real-Life-104-58d3c3bcc90f4-700.jpg" alt="Horror-Movie-Stars-In-Real-Life-104-58d3c3bcc90f4-700" border="0">
        </li>
        <li>
          <img src="https://i.ibb.co/3y1BqXS/ce7c0d5db9ab2b7faecfc79d59.jpg" alt="ce7c0d5db9ab2b7faecfc79d59" border="0">
        </li>
        <li>
          <img src="https://i.ibb.co/kKFDjp7/horror-movie-stars-in-real-life-7-58d3c8b298bca-700.jpg" alt="horror-movie-stars-in-real-life-7-58d3c8b298bca-700" border="0"> 
        </li>

    </ul>
</div>
</div>



{% endblock content %} 
