{% extends 'components/layout.html' %} {# This is the route to my files #}

{% block content %}

<div class="container-fluid">
    <div class="Header-Area" div id="welcomemsg">HERE ARE THE HORROR MOVIE ACTORS OF THE DAY</div>
    <div class="a1"><img class="img fluid" img src="https://i.ibb.co/MMgBnvd/horror-movie-actors-10-640x359.webp" alt="horror-movie-actors-10-640x359" border="0"></div>
    <div class="a2"><img class="img fluid" img src="https://i.ibb.co/s1pYqqx/horror-hunks-skeet-ulrich-edited-1476905276.jpg" alt="horror-hunks-skeet-ulrich-edited-1476905276" border="0"></div>
    <div class="a3"><img class="img fluid" img src="https://i.ibb.co/MkC2PLm/Christopher-Walken-750x450.png" alt="Christopher-Walken-750x450" border="0"></div>
    <div class="a4"></div>
    <div class="a5"></div>
    <div class="a6"></div>
  </div>

{% endblock content %} 
