{% extends 'components/layout.html' %} {# This is the route to my files #}

{% block leftcol %}
<h1>{{ headline }}</h1>
<h1>ACTORS THAT HAVE PLAYED IN HORROR FILMS</h1>
{% endblock leftcol %}

{% block rightcol %}
<h1>A BLURB ABOUT HORROR FILM ACTORS</h1>
{% endblock rightcol %}

{% block midcol1 %}
<img class="img fluid" img src="https://i.ibb.co/MMgBnvd/horror-movie-actors-10-640x359.webp" alt="horror-movie-actors-10-640x359" border="0">
{% endblock midcol1 %}


{% block midcol2 %}
<img class="img fluid" img src="https://i.ibb.co/s1pYqqx/horror-hunks-skeet-ulrich-edited-1476905276.jpg" alt="horror-hunks-skeet-ulrich-edited-1476905276" border="0">
{% endblock midcol2 %}


{% block midcol3 %}
<img class="img fluid" img src="https://i.ibb.co/MkC2PLm/Christopher-Walken-750x450.png" alt="Christopher-Walken-750x450" border="0">
{% endblock midcol3 %}