{% extends 'components/layout.html' %}
{% block css %}
<link rel="stylesheet" href="../static/css/gallery.css">
{% endblock css%} 


{% block content %}
{% for i in range(9) %}
<div class="card" style="width: 25rem;">
  <img src="{{ characters[i][1] }}" alt="{{ characters[i][0] }}" class="card-img-top" alt="{{ characters[i][0] }}">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

{% endfor %}
{% endblock content %}








