{% extends 'components/layout.html' %} {# This is the route to my files #}

{% block content %}
<div class="row justify-content-center">


<h1 class="headings">MOST LIKED MOVIES OF THE DAY</h1>

<div class="gallary">
    <ul>
        <li>
            <img src="https://i.ibb.co/4sBnKyp/bcd5c9519581acc60bd60a429ab0c88f.jpg" alt="bcd5c9519581acc60bd60a429ab0c88f" border="0">
        </li>
        <li>
            <img src="https://i.ibb.co/Vv2TfSt/Designer-reimagines-6-famous-childrens-board-games-as-horror-movies-5f83fb87132f8-700.jpg" alt="Designer-reimagines-6-famous-childrens-board-games-as-horror-movies-5f83fb87132f8-700" border="0">
        </li>
        <li>
            <img src="https://i.ibb.co/L8Mmtgy/Chutes-and-Ladders.jpg" alt="Chutes-and-Ladders" border="0">
        </li>
        <li>
            <img src="https://i.ibb.co/9tpmkVq/uugcrwd3j1q61.webp" alt="uugcrwd3j1q61" border="0">
        </li>
        <li>
            <img src="https://i.ibb.co/FJbzxnD/hex.jpg" alt="hex" border="0">
        </li>
        <li>
            <img src="https://i.ibb.co/r5WXm2v/carrie-2013.jpg" alt="carrie-2013" border="0">
        </li>
        <li>
            <img src="https://i.ibb.co/dp7Rdpt/optimized-large-thumb-stage.jpg" alt="optimized-large-thumb-stage" border="0">
        </li>
        <li>
            <img src="https://i.ibb.co/vjVvFx9/content.jpg" alt="content" border="0">
        </li>
    </ul>
</div>
</div> 



{% endblock content %} 
