{% extends 'components/layout.html' %} {# This is the route to my files #}

{% block content %}

<div class="container-fluid">
    <div class="Heading-Area">HERE ARE THE HORROR FILMS OF THE DAY</div>
    <div class="Column1"><img class="img fluid" img src="https://i.ibb.co/dp7Rdpt/optimized-large-thumb-stage.jpg" alt="optimized-large-thumb-stage" border="0"></div>
    <div class="Column2"><img class= "img fluid" img src="https://i.ibb.co/r5WXm2v/carrie-2013.jpg" alt="carrie-2013" border="0"></div>

{% endblock content %} 
