{% extends 'components/layout.html' %} {# This is the route to my files #}

{% block content %}
<h1 id="welcomemsg">{{ change_heading }}</h1>

<div class="container">
    <div class="Header-Area" div id="welcomemsg">Blurb Here</div>
    <div class="Pic1"><img class="img fluid" img src="https://i.ibb.co/Dr0R8Wb/horror-villans-american-main-2021x-1253571.webp" alt="horror-villans-american-main-2021x-1253571" border="0"></div>
    <div class="pic2"><img class="img fluid" img src="https://i.ibb.co/HNBswMf/a67a233c-fcfe-4e8e-b000-052603ddd616.jpg" alt="a67a233c-fcfe-4e8e-b000-052603ddd616" border="0"></div>
  </div>

{% endblock content %} 
